<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create Office</title>
</head>


<body>

<br>

<div class="container">

    <p class="h4 mb-4">Create New Office</p>

    <form action="#"
          th:action="@{/offices/create}"
          th:object="${office}"
          method="post"
    >
        <!--add hidden form field to handle update-->
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4"
               placeholder="Office Name"
               required
               pattern="\S.*\S"
               title="This field is required"
        >

        <input type="text" th:field="*{location}"
               class="form-control mb-4 col-4"
               placeholder="Location"
               required
               pattern="\S.*\S"
               title="This field is required"
        >

        <br>
        <!--submit button-->
        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/offices/list}">Back to Offices</a>

</div>

</body>


</html>
