<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create User</title>
</head>


<body>

<br>

<div class="container">

    <p class="h4 mb-4">Create New User</p>

    <form action="#"
          th:action="@{/users/create}"
          th:object="${user}"
          method="post"
          enctype="multipart/form-data"
    >
        <!--add hidden form field to handle update-->
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4"
               placeholder="First Name"
        >

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4"
               placeholder="Last Name"
        >

        <input type="email" th:field="*{email}"
               class="form-control mb-4 col-4"
               placeholder="Email"
        >


        <input type="password"
               th:field="*{password}"
               class="form-control mb-4 col-4"
               placeholder="Password"
        >

        <p>Is admin?</p>
        <input type="radio" th:field="*{admin}" name="isAdmin" value="true"> Yes <br>
        <input type="radio" th:field="*{admin}" name="isAdmin" value="false"> No <br>
        <br>

        <p>Choose an office</p>
        <select th:field="*{office}">
            <option th:each="officeChoice: ${offices}"
                    th:value="${officeChoice.id}" th:text="${officeChoice.name}"
            >
        </select>

        <br>
        <br>

        <p>Please upload a file as signature (in jpg format)</p>
        <input class="file-upload" type="file" name="picture" accept="image/jpeg" th:field="*{signature}">
        <br>
        <br>


        <!--submit button-->
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>


    <hr>
    <a th:href="@{/users/list}">Back to Users</a>

</div>

</body>


</html>
